# Ignore build output
dist/
*.tgz

# Ignore demo app files when building package
app/
data/
assets/
app.json
babel.config.js
metro.config.js
tailwind.config.js
expo-env.d.ts

# Node modules
node_modules/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Expo
.expo/
.expo-shared/

